<div>
    <label>
        <input type="radio" ng-model="selectedFaction" value="Imperial" />
        Imperial
    </label>
    <label>
        <input type="radio" ng-model="selectedFaction" value="Rebel" />
        Rebel
    </label>
    <div class="section-label">Ships</div>
    <div class="ship-cards">
        <!--
        <fleet-builder-ship-detail ng-repeat="ship in ships | filter : selectedFaction" class="ship-detail faction-{{ship.faction}}" ship="ship"></fleet-builder-ship-detail>
        -->
        <fleet-builder-ship-viewer ships="ships"></fleet-builder-ship-viewer>
    </div>
    <!--
    <div class="section-label">Squadrons</div>
    <div class="squadron-cards">
        <fleet-builder-squadron-detail ng-repeat="squadron in squadrons | filter : selectedFaction" class="squadron-detail faction-{{squadron.faction}}" squadron="squadron"></fleet-builder-squadron-detail>
    </div>
    -->
</div>